{VAL_1}


<script type="text/javaScript" xmlns="http://www.w3.org/1999/html">
        
        function deleteRecord (link){
			
             $('#recordID').val(link);
	     $('#deleteRecordingInput').click();

        }
        
	il.Util.addOnLoad(
		function()
		{

			$('#endClassForm').hide();
			$('#startClassForm').hide();
                        $('#deleteRecording').hide();
			$('#openClassText').hide();
			
			var isMeetingRunning={isMeetingRunning};
			if(isMeetingRunning){
				$('#openClassLink').show();
				$('#openClassText').show();
				$('#endClassDiv').show();
				$('#startClassDiv').hide();
                $('#recordmeeting_visible').hide();
                $('#recordmeeting_label').hide();
			}else{
				$('#openClassLink').hide();
				$('#endClassDiv').hide();
				$('#startClassDiv').show();
				$('#startClassForm').show();
			}
                        
            var hasMeetingRecordings = {hasMeetingRecordings};
			if(hasMeetingRecordings){
                            $('#recordings').show();
                        }
                        else{
                            $('#recordings').hide();
                        }
                        
            var isMeetingRecorded={isMeetingRecorded};
			if(isMeetingRecorded){
				$('#isMeetingRecorded').show();
			}else{
				$('#isMeetingRecorded').hide();
			}
			
			$('#startClassLink').click(function() {
                  $('#recordmeeting').prop("checked", $('#recordmeeting_visible').prop("checked"), $("#waitingroom").prop("checked"));
                  //alert($('#recordmeeting_visible').prop("checked"));
				  $('#startClassFormInput').click();
                                  
				  ////$('#openClassLink').click();
			});		
			
			$('#endClassLink').click(function() {
				  $('#endClassFormInput').click();
				  //$('#openClassLink').click();
			});
			
		});
</script>

<div id="openClassText">{startClassText}
<button id="openClassLink" class="btn btn-primary" type="button" onclick="window.open('{bbbURL}')">{clickToOpenClass}</button>
<!--<a id="openClassLink" href="{bbbURL}" target="_blank">{clickToOpenClass}</a>
-->
<p/>{attendeeMessage} <strong> {attendees} </strong></div>
<div id="startClassDiv">
{noClassRunning}<br/><br/>

    <div class="form-group row col-sm-12">
        <div class="row col-sm-9">
       <form id="startClassForm" action="{FORMACTION2}" method="post">
        <input id="startClassFormInput" class="btn btn-primary col-sm-3" type="submit" name="{CMD_START_CLASS}" value="{startClass}" >


            <label class="control-label col-sm-6" for="wr">{clickToEnableWaitingroom}</label>
            <input type="checkbox" value="checked" checked="checked" id="wr" name="waitingroom">
           <!-- <div class="help-block col-sm-9">hier klicken, um Warteraum einzuschalten</div> -->
       </form>
        </div>

    </div>


</div>
<hr style="margin-bottom: 10em">
<p/>
<div id="endClassDiv" style="margin-top: 40px">
	{classRunning} <br/><a id="endClassLink" href="#" class="btn btn-warning">{endClass}</a><br/><i><strong> {endClassComment}</i></strong>

</div>

<form id="endClassForm" action="{FORMACTION}" method="post">
    <input id="endClassFormInput" class="submit" type="submit" name="{CMD_END_CLASS}" value="{END_CLASS}" >
</form>

<!-- <form id="startClassForm" action="{FORMACTION2}" method="post">
   <input id="startClassFormInput" class="submit" type="submit" name="{CMD_START_CLASS}" value="{START_CLASS}" >
 <input type="checkbox" id="recordmeeting" name="recordmeeting" />
    <input type="checkbox" id="waitingroom" name="waitingroom" />
</form>-->

<form id="deleteRecording" action="{FORMACTION3}" method="post">
    <input id="deleteRecordingInput" class="submit" type="submit" name="{CMD_DELETE_RECORDING}" value="{DELETE_RECORDING}" >
    <input type="text" id="recordID" name="recordID" />
</form>
<br/>
<div id="isMeetingRecorded">{meetingRecordedMessage}</div>
<div id="recordings">
<h1><span>{Headline_Recordings}</span></h1>
<div>{recordings}</div>
</div>



